// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-width {
  width: 100%;
}
