// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  margin-top: 20px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-face: bold;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
